.bg-controller{
    background-color:#E8E8E8 !important;
}
.tetraInputsHotels {
    top: 150px;
    left: 70px;
    z-index: 999;
    position: absolute;
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
}

@media(max-width:992px) {
    .tetraInputsHotels {
        top: 20px;
        left: 20px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media(max-width:600px) {
    .tetraInputsHotels {
        top: 150px;
    }
}

.tetraInputsHotels select,
input:focus {
    outline: none;
}

.destinationInput {
    width: 270px !important;
    height: 45px !important;
    border-radius: 9px;
    background: #ffffff;
    border: 0;
    padding-left: 25px;
}

@media(max-width:992px) {
    .destinationInput {
        width: 90vw !important;
    }
}

.destinationInput::placeholder {
    padding-left: 5px;
    color: black;
}
.destinationWrapper{
    position: relative;
}
.destinationInputIcon {
    z-index: 9999;
    top: 13px;
    left: 7px;
    position: absolute;
}

.dateInput {
    width: 270px !important;
    height: 45px !important;
    border-radius: 9px;
    background: #ffffff;
    border: 0;
    padding: 9px;
}



@media(max-width:992px) {
    .dateInput {
        width: 90vw !important;
    }
}

.countrySelection {
    width: 270px !important;
    height: 45px !important;
    border-radius: 9px;
    background: #fffafa;
    border: 0;
    padding: 9px;
}

@media(max-width:992px) {
    .countrySelection {
        width: 90vw !important;
    }
}

.roomDetailsInput {
    width: 270px !important;
    height: 45px !important;
    border-radius: 9px;
    background: #ffffff;
    border: 0;
    padding-left: 15px;
}

.roomDetailsInput::placeholder {
    color: black;
}

.RoomsAncestor {
    position: relative;
}

.roomDetails {
    width: 270px;
    position: absolute;
    overflow: hidden;
    border-radius: 9px;
    box-shadow: rgba(0, 0, 0, 0.4) 0x 30px 90px;
    visibility: hidden;
}

@media(max-width:992px) {
    .roomDetails {
        width: 90vw;
        padding-bottom:40px;
    }
}

.quantity input {
    width: 60px
}

.addRoom button {
    border: 0;
    width: 100px;
    border-radius: 9px;
    padding: 3px;
    color: white;
    background-color: red
}

.done button {
    border: 0;
    width: 60px;
    border-radius: 9px;
    padding: 3px;
    color: white;
    background-color: red
}

@media(max-width:992px) {
    .roomDetailsInput {
        width: 90vw !important;
    }
}

.searchIcon {
    background-color: #fd1d1d;
    padding: 5px;
    border-radius: 9px;
    height: 40px;
    margin-top: 3px;
}

/* empty div styles */
.spacer {
    height: 150px;
    width: 100vw;
    background-color: #FEF7F5;
}

@media(min-width:1000px) {
    .spacer {
        display: none;
    }
}

@media(max-width:600px) {
    .spacer {
        display: none;
    }
}